.search-space {
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-right: 1px solid #f4ecec;
}

.search-title {
    direction: rtl;
    color: #4e1800;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 20%;
    font-size: 130%;
}

.search-object {
    height: 30%;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #f4ececaf;
}