<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <form action="/purchase/" method="POST">
        {% csrf_token %}
        <input type = "text" name = "data" placeholder = "object" />
        <br>
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
  </body>
</html>