html {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

.outer-wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  padding: 30px;
  flex: 1 0 auto;
}

a {
  color: #4e1800;
}
